#topnav {
    width: 100%;
    background-color: var(--main-color);
}

#topnav ul {
    max-width: 1000px;
    margin: auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

#topnav ul li {float: left;}

#topnav ul li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
}

#topnav ul li a:hover:not(.active) {
    background-color: #f2f2f2;
    color: var(--main-color);
}

#topnav ul li a.active {
    background-color: #4CAF50;
}

#topnav ul li.right {
    float: right;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px var(--main-color);
    background-color: var(--main-color);
    position: absolute;
    /* width: 30%; */
    z-index: 1000;
}

#topnav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

/* .conteneur{
  margin: 50px 20px;
  height: 1500px;
} */

@media screen and (max-width: 600px){
    #topnav ul li.right,
    #topnav ul li {float: none;}
}
